[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=abenzi
Group=abenzi

WorkingDirectory=/home/abenzi/dicebotbyabenzi/
Environment="PYTHONPATH=/home/abenzi/dicebotbyabenzi/"
ExecStart=/home/abenzi/dicebotbyabenzi/.venv/bin/python /home/abenzi/dicebotbyabenzi/ubuntu18/bot.py

[Install]
WantedBy=multi-user.target
